#search-form {
    padding-bottom: 24px;
}

#auto-complete {
    font-size: 22px;
    width: 320px;
}

.container {
    padding: 16px;
}

.footer {
    padding: 16px 0;
}

a {
    text-decoration: none;
    color: blue;
}

/* 電影表格相關樣式 */
.movie-table table, .movie-table th, .movie-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.movie-table table {
    width: 360px;
}

.movie-table td {
    padding: 5px;
}

/* 目標電影樣式 */
.movie-table .target-movie {
    border: 2px solid red;
}
